<form method="get" action="/quizes">
  <p><h3>Buscador de preguntas</h3><br></p>
  <p>
    <input type="text" name="search" placeholder="Introduzca aqu&iacute; su b&uacute;squeda" />
    <input type="submit" value="Buscar" />
  </p>
</form>
