<form method="get" action="/quizes/<%= quiz.id %>/answer">
  <p>Pregunta: <%= quiz.pregunta %></p>
  <p>
    <input type="text" name="respuesta" placeholder="Responda aqu&iacute;" />
    <input type="submit" value="Enviar" />
  </p>
</form>
